  /** CONSTANTS */
  $BASE-SIZE: 10px;

  /** TIMES */
  $transition-time-S: 300ms;
  $transition-time-M: 500ms;
  $transition-time-L: 1000ms;

  /** SIZES */
  $size-XXS: 0.6 * $BASE-SIZE;
  $size-XS: 0.8 * $BASE-SIZE;
  $size-S: 1.2 * $BASE-SIZE;
  $size-M: 1.4 * $BASE-SIZE;
  $size-L: 1.8 * $BASE-SIZE;
  $size-XL: 2.2 * $BASE-SIZE;
  $size-XXL: 2.6 * $BASE-SIZE;
  $size-huge: 4 * $BASE_SIZE;

  /** COLORS */
  $light-color: #D2E8E3;
  $dark-color: #2C3532;
  $actions-color: #D8B08C;
  $actions-light-color: #0F6466;

  @mixin flex-centers {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex-sb-centers {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @mixin button-sets {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background: none;
  }

  @mixin input-sets {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
  }
