body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Ubuntu','Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4,
p, menu,
ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
